<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Indicates that the node.exe process is invoked to process requests to the server.js file -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode node_env="production" loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
    <system.web>
        <authentication mode="Forms" />
        <identity impersonate="false" />
    </system.web>
</configuration>
