$background: #f7fcdc;
$heading: #2c3e50;
$subHeading: #1f2934;
$placeholder: #acacac;
$primary: #4a5d73;
$light: #95a5a6;
$icons: #bababa;
$logoGreen: #56a045;
$grad1: #89e874;
$grad2: #3bc77b;
$hover: #38c177;
$lightBg: #f7f7f7;
$lightbgHover: #f1f1f1;
$border: #e7e9ed;
$white: #ffffff;
$black: #000000;
$red: #ef4444;
