[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: var(--CustomIcons) !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle:before {
  content: "\e984";
}
.icon-star:before {
  content: "\e980";
}
.icon-circle-check:before {
  content: "\e981";
}
.icon-star-fill:before {
  content: "\e982";
}
.icon-zap:before {
  content: "\e983";
}
.icon-comment:before {
  content: '\e97f';
}
.icon-rearrange:before {
  content: '\e97e';
}
.icon-calendar-question:before {
  content: '\e97d';
}
.icon-calendar-user:before {
  content: '\e978';
}
.icon-clock-check:before {
  content: '\e979';
}
.icon-clock-edit:before {
  content: '\e97a';
}
.icon-wallet-plus:before {
  content: '\e97b';
}
.icon-calendar-money:before {
  content: '\e97c';
}
.icon-survey:before {
  content: '\e977';
}
.icon-d-minus:before {
  content: '\e975';
}
.icon-d-plus:before {
  content: '\e976';
}
.icon-d-cross:before {
  content: '\e974';
}
.icon-d-check:before {
  content: '\e973';
}
.icon-expand-diagonal:before {
  content: '\e972';
}
.icon-file-x:before {
  content: '\e96f';
}
.icon-take-off:before {
  content: '\e970';
}
.icon-signout:before {
  content: '\e971';
}
.icon-hourglass:before {
  content: '\e96e';
}
.icon-user-cross:before {
  content: '\e96c';
}
.icon-run:before {
  content: '\e96d';
}
.icon-hand-coin:before {
  content: '\e96a';
}
.icon-ot:before {
  content: '\e96b';
}
.icon-lightning:before {
  content: '\e969';
}
.icon-like:before {
  content: '\e966';
}
.icon-return:before {
  content: '\e967';
}
.icon-dislike:before {
  content: '\e968';
}
.icon-switch:before {
  content: '\e965';
}
.icon-calendar-bs:before {
  content: '\e964';
}
.icon-contract:before {
  content: '\e962';
}
.icon-enlarge:before {
  content: '\e963';
}
.icon-eye-close:before {
  content: '\e961';
}
.icon-maximize:before {
  content: '\e95f';
}
.icon-minimize:before {
  content: '\e960';
}
.icon-resize:before {
  content: '\e95e';
}
.icon-cms:before {
  content: '\e95d';
}
.icon-minus:before {
  content: '\e95c';
}
.icon-layout-right:before {
  content: '\e959';
}
.icon-light:before {
  content: '\e95a';
}
.icon-dark:before {
  content: '\e95b';
}
.icon-option:before {
  content: '\e958';
}
.icon-tie:before {
  content: '\e957';
}
.icon-gender:before {
  content: '\e954';
}
.icon-ring:before {
  content: '\e955';
}
.icon-cake:before {
  content: '\e956';
}
.icon-id:before {
  content: '\e950';
}
.icon-marker:before {
  content: '\e951';
}
.icon-news:before {
  content: '\e952';
}
.icon-grad-cap:before {
  content: '\e953';
}
.icon-clone:before {
  content: '\e94f';
}
.icon-alert:before {
  content: '\e94d';
}
.icon-check-circle:before {
  content: '\e94e';
}
.icon-bulk:before {
  content: '\e94c';
}
.icon-tasks:before {
  content: '\e94a';
}
.icon-stream:before {
  content: '\e94b';
}
.icon-calculator:before {
  content: '\e941';
}
.icon-certificate:before {
  content: '\e942';
}
.icon-download:before {
  content: '\e943';
}
.icon-export:before {
  content: '\e944';
}
.icon-import:before {
  content: '\e945';
}
.icon-print:before {
  content: '\e946';
}
.icon-save:before {
  content: '\e947';
}
.icon-teacher:before {
  content: '\e948';
}
.icon-upload:before {
  content: '\e949';
}
.icon-menu:before {
  content: '\e940';
}
.icon-redo:before {
  content: '\e93f';
}
.icon-help:before {
  content: '\e93c';
}
.icon-logout:before {
  content: '\e93d';
}
.icon-setting:before {
  content: '\e93e';
}
.icon-double-left:before {
  content: '\e939';
}
.icon-plus:before {
  content: '\e93a';
}
.icon-double-right:before {
  content: '\e93b';
}
.icon-down:before {
  content: '\e90a';
}
.icon-right:before {
  content: '\e90e';
}
.icon-left:before {
  content: '\e916';
}
.icon-up:before {
  content: '\e938';
}
.icon-circle-fill:before {
  content: '\e924';
}
.icon-close:before {
  content: '\e925';
}
.icon-close-circle:before {
  content: '\e926';
}
.icon-dials:before {
  content: '\e927';
}
.icon-edit:before {
  content: '\e928';
}
.icon-elipsis-v:before {
  content: '\e929';
}
.icon-expand:before {
  content: '\e92a';
}
.icon-eye:before {
  content: '\e92b';
}
.icon-filter:before {
  content: '\e92c';
}
.icon-info:before {
  content: '\e92d';
}
.icon-move:before {
  content: '\e92e';
}
.icon-sort:before {
  content: '\e92f';
}
.icon-three-cols:before {
  content: '\e930';
}
.icon-trash:before {
  content: '\e931';
}
.icon-unchecked:before {
  content: '\e932';
}
.icon-unlock:before {
  content: '\e933';
}
.icon-user:before {
  content: '\e934';
}
.icon-actions:before {
  content: '\e935';
}
.icon-cancel:before {
  content: '\e936';
}
.icon-checked:before {
  content: '\e937';
}
.icon-umbrella:before {
  content: '\e904';
}
.icon-users-plus:before {
  content: '\e905';
}
.icon-users:before {
  content: '\e906';
}
.icon-user-check:before {
  content: '\e907';
}
.icon-trend:before {
  content: '\e908';
}
.icon-search:before {
  content: '\e909';
}
.icon-project:before {
  content: '\e90b';
}
.icon-phone:before {
  content: '\e90c';
}
.icon-modules:before {
  content: '\e90d';
}
.icon-inbox:before {
  content: '\e90f';
}
.icon-home:before {
  content: '\e910';
}
.icon-handshake:before {
  content: '\e911';
}
.icon-group:before {
  content: '\e912';
}
.icon-file:before {
  content: '\e913';
}
.icon-external:before {
  content: '\e914';
}
.icon-exam:before {
  content: '\e915';
}
.icon-documents:before {
  content: '\e917';
}
.icon-clock:before {
  content: '\e918';
}
.icon-clipboard:before {
  content: '\e919';
}
.icon-check:before {
  content: '\e91a';
}
.icon-chatbot:before {
  content: '\e91b';
}
.icon-cash:before {
  content: '\e91c';
}
.icon-card:before {
  content: '\e91d';
}
.icon-calendar:before {
  content: '\e91e';
}
.icon-briefcase:before {
  content: '\e91f';
}
.icon-book:before {
  content: '\e920';
}
.icon-bell:before {
  content: '\e921';
}
.icon-bar-chart:before {
  content: '\e922';
}
.icon-globe:before {
  content: '\e923';
}
.icon-company:before {
  content: '\e900';
}
.icon-lock:before {
  content: '\e901';
}
.icon-mail:before {
  content: '\e902';
}
.icon-admin:before {
  content: '\e903';
}
