@use '@/styles/abstracts' as *;

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.authForm {
  background-color: $white;
  max-width: rem(477);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  padding: rem(25) rem(20) rem(20) rem(20);

  h2 {
    margin-bottom: rem(10);
  }
  p {
    margin-bottom: rem(20);
  }
}
.onboarding {
  width: auto;
  min-width: rem(1014);
  max-width: unset;
  min-height: rem(541);
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  // padding: rem(20);

  ul li {
    @apply relative text-base pl-8;

    &::before {
      content: '\e91a';
      font-family: var(--CustomIcons) !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 10px;
      position: absolute;
      left: 0;
      top: rem(4);
      @apply text-primarycolor;
    }
  }
}
.container {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $background;
}
.extra {
  margin-top: rem(20);

  a {
    color: $grad2;
    &:hover {
      text-decoration: underline;
    }
  }
}
.copyrights {
  text-align: center;
  margin-top: 20px;

  p {
    font-size: rem(13);
    color: $heading;
  }
}
.blob {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
}
.flower {
  position: absolute;
  bottom: 0;
  left: 0;
}
